{
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["react", "@typescript-eslint"],
    "settings": {
      "react": {
        "pragma": "React",
        "version": "detect"
      }
    },
    "rules": {
      /* Since the return type of most React components is generally either JSX.
      Element or null, we have loosened up the default linting rules a bit by disabling 
      the rules explicit-function-return-type and explicit-module-boundary-types. 
      Now we don't need to explicitly state our function return types everywhere. 
      We will also disable react/react-in-jsx-scope since importing React is no 
      longer needed in every file. */
      "@typescript-eslint/explicit-function-return-type": 0,
      "@typescript-eslint/explicit-module-boundary-types": 0,
      "react/react-in-jsx-scope": 0
    }
  }